<div id="author" class="main" >
	
	<div class="pannel left">
		<div >

			<h2 class="title">Sitio desarrollado por <span class="spanBlock">Antonio Manuel Díaz Moreno</span></h2>

			<div class="marco">
			</div>
		</div>

	</div>

	<div class="main" >
		<div>
			<div class="iframe-pannel">
			<iframe width="560" height="200" src="https://www.youtube.com/embed/l5nviUiDRDI" frameborder="0" allowfullscreen></iframe>
			</div>
			<p class="comment">Desarrollo de Servicios en la Nube con HTML5</p>
			
		</div>
	</div>
	
</div>